
@layout('layouts/main')

@section('title')
Freshgear | Top Celebrity Shoes
@endsection
@section('content')
<section class="content-area home-page">
    <div class="top-section">
      <div class="product">
      <div class="circle">
        <img src="/img/products/adidas-yeezy-boost.png">
      </div>
    </div>
    <div class="titles">
        <h3>Yeezy</h3>
        <h1>Boost 350 V2</h1>
    </div>
  </div>
</section>
@endsection

 